body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
}

nav {
  min-width: 100%;
  height: 60px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.subnav {
  height: 60px;
  width: 100%;
  background: linear-gradient(#e2e2e2, #f9f9f9);
}

.logo-container {
  padding-left: 30px;
  max-width: 150px;
  width: 150px;
}
@media (max-width: 640px) {
  .logo-container {
    width: 120px;
    max-width: 120px;
  }
}

.buttons-container {
  padding-right: 30px;
  min-width: 200px;
  width: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .buttons-container {
    max-width: 250px;
  }
}

.button {
  height: 40px;
  min-width: 80px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 60px) {
  .button {
    min-width: 60px;
  }
}

.button__prim {
  border: 1px solid #08c299;
  background-color: #08c299;
  width: 250px;
  color: white;
}
@media (max-width: 640px) {
  .button__prim {
    width: 160px;
  }
}

.button__sec {
  border: 1px solid #0060ca;
  background-color: white;
  width: 80px;
  color: #0060ca;
}
@media (max-width: 640px) {
  .button__sec {
    width: 60px;
  }
}

main {
  margin-top: 150px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

aside {
  padding-left: 30px;
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  aside {
    width: 100%;
    overflow-x: scroll;
    height: 40px;
    max-height: 40px;
    flex-direction: row;
    align-items: center;
  }
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: grey;
  margin-top: 20px;
  font-size: 18px;
  width: auto;
}
@media (max-width: 1024px) {
  a {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  a {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  a {
    font-size: 12px;
    margin-top: 0;
    margin-left: 20px;
  }
}

.grid {
  margin-right: 30px;
  display: grid;
  grid-template-rows: 220px 220px 220px;
  grid-template-columns: 300px 300px 300px;
  row-gap: 30px;
  column-gap: 50px;
}
@media (max-width: 1240px) {
  .grid {
    grid-template-columns: 240px 240px 240px;
    column-gap: 40px;
  }
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 180px 180px 180px;
    column-gap: 30px;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 220px 220px;
    column-gap: 30px;
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 320px;
    column-gap: 30px;
    margin-top: 40px;
  }
}

.card {
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.card__thumbnail {
  max-height: 170px;
  height: 170px;
  max-width: 100%;
  min-width: 100%;
}

.card__info {
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: grey;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
